[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
    url = https://github.com/corntrace/bufexplorer.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
